#feedback-modal-bg
  #feedback-modal
    button#feedback-modal-close
    h2 Give us your feedback
    form
      input.box-input( placeholder='Email address (optional)', type='email' )
      textarea.box-input( placeholder='Help us improve, leave your comments here.' )
      button.rounded-button( type='submit' ) Send