#feedback-modal-bg.modal-container
  #feedback-modal.modal
    button.modal-close
    h2 Give us your feedback
    form
      input.box-input( placeholder='Email (optional)', type='email' )
      textarea.box-input( placeholder='Help us improve, leave your comments here.' )
      button.rounded-button( type='submit' ) Send