.listings-advertisement-container
  h2.listings-advertisement-header Advertisement
  .listings-advertisement-placeholder
  .listings-advertisement
    script( async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' )
    // inline-large
    ins.adsbygoogle(
      style='display: inline-block; width:970px; height:90px',
      data-ad-client='ca-pub-8611301148795783',
      data-ad-slot='4105486158'
    )
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});