.listings-advertisement
  script( async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' )
  // inline
  ins.adsbygoogle(
    style='display: inline-block; width: 728px; height: 90px;',
    data-ad-client='ca-pub-8611301148795783',
    data-ad-slot='4397497751'
  )
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});