.listings-container
  if listings.length
    .listings
      for listing, i in listings
        if sd.ENABLE_ADS && i % 4 == 0 && i != 0 && i <= 12
          - var end = true;
          include listing
          include ad
        else
          - var end = false;
          include listing
    .listings-map
    .listings-map-no-geo-cover Missing coordinates
    .listings-spinner
      .loading-spinner
  else
    .listings-no-results No results. Try loosening up your filters.