doctype html
html( class=uaFamily )
  head
    title NoFeeDigs | Find no fee apartments in New York City.
    meta( name='viewport', content='width=device-width', initial-scale='1.0,user-scalable=no' )
    link( type='text/css', rel='stylesheet', href='/assets/all.css' )
    link( rel='icon', type='image/x-icon', href='/images/favicon.ico'  )
    block head
  body
    include ../../main-header/index
    include ../../feedback-modal/index
    include ../../auth-modal/index
    #alerts-modal-bg.modal-container
    block content
    #scripts
      != sharify.script()
      include typekit.html
      script( src='http://maps.google.com/maps/api/js?sensor=true' )
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' )
      script( src='/assets/all.js' )
      block scripts