#auth-modal-container.modal-container( data-state='signup' )
  #auth-modal.modal.modal-flip-container

    #auth-modal-signup.modal-front-flip
      button.modal-close
      #auth-modal-logo
      h2 Save thousands on broker’s fees.
      h3 Sign up to recieve emails when new no fee listings within your search criteria arrive.
      #auth-modal-form-container
        //- #auth-modal-left
        //-   h4 Sign up via social
        //-   button.rounded-button Facebook
        //-   button.rounded-button Google
        //-   button.rounded-button Twitter
        //-   .auth-modal-error &nbsp;
        #auth-modal-right
          //- h4 Sign up via email
          form#auth-modal-signup-form
            input.box-input( placeholder='Name', name='name' )
            input.box-input( placeholder='Email*', type='email', name='email' )
            input.box-input( placeholder='Password* (minimum 6 characters)', type='password', name='password' )
            small
              em * Required
            button.rounded-button( type='submit' ) Sign up
          .auth-modal-error &nbsp;
      small#auth-modal-login-link Already have an account?&nbsp;
        a Log in

    #auth-modal-login.modal-front-flip
      button.modal-close
      #auth-modal-logo
      h3 Log in to NoFeeDigs
      br
      form#auth-modal-login-form
        input.box-input( placeholder='Email', type='email', name='email' )
        input.box-input( placeholder='Password', type='password', name='password' )
        button.rounded-button( type='submit' ) Log in
      .auth-modal-error &nbsp;
      small#auth-modal-signup-link Don't have an account?&nbsp;
        a Sign up

    #auth-modal-login-welcome.modal-back-flip-green
      button.modal-close
      header
        h2 Welcome&nbsp;
          span.auth-modal-name
          | !
        button.rounded-button.modal-okay Okay