@import '../stylus-lib'

#auth-modal
  width 400px
  h2
    font-size 32px
    font-weight 100
    line-height 1.2em
  h4
    font-size 11px
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 5px
    color #777

#auth-modal-form-container
  clearfix()
  margin-top 20px

#auth-modal-login-link, #auth-modal-signup-link
  font-size 13px

#auth-modal-logo
  width 90px
  height @width
  background center center no-repeat
  background-size contain
  margin auto
  position relative

#auth-modal-left
  float left
  border-right 1px solid light-gray-border-color
  padding-right 20px
  button
    margin-bottom 6px
    &:last-child
      margin-bottom 0

#auth-modal-right
  float right
  small
    font-size 12px
    text-align left
    margin-bottom 5px
    float left
    color #aaa

#auth-modal-left, #auth-modal-right
  width 50%

.auth-modal-error
  color red-color
  margin 5px
  font-size 13px

#auth-modal-right
  width 100%


#auth-modal-signup, #auth-modal-login
  display none

// State of modal and animation properties between them
#auth-modal-container[data-state='welcome-login']
  #auth-modal-login-welcome
    transform rotateY(0deg)
    z-index inherit
  #auth-modal-login
    transform rotateY(180deg)
    display block

#auth-modal-container[data-state='signup']
  #auth-modal-signup
    display block

#auth-modal-container[data-state='login']
  #auth-modal-login
    display block