#auth-modal-container.modal-container
  #auth-modal.modal
    #auth-modal-forms
      button.modal-close
      #auth-modal-logo
      h2 Save thousands on broker’s fees.
      h3 Sign up to recieve emails when new listings within your search criteria arrive.
      #auth-modal-form-container
        //- #auth-modal-left
        //-   h4 Sign up via social
        //-   button.rounded-button Facebook
        //-   button.rounded-button Google
        //-   button.rounded-button Twitter
        //-   .auth-modal-error &nbsp;
        #auth-modal-right
          //- h4 Sign up via email
          form#auth-modal-signup-form
            input.box-input( placeholder='Email', type='email' )
            input.box-input( placeholder='Password (minimum 6 characters)', type='password' )
            button.rounded-button( type='submit' ) Sign up
          .auth-modal-error &nbsp;
      small Already have an account?&nbsp;
        a Log in
    #auth-modal-thank-you
      button.modal-close
      header
        h2 Thanks!
        h3 Look out for daily emails of new listings.
        button.rounded-button Okay