@import '../stylus-lib'

rounded-tabs-default()
  border-color gray-color
  color darkest-gray-color
  background-color transparent
  campton()
  li
    border-color gray-color

previous-rounded-tabs(color, selector)
  &{selector}
    li
      border-color color 
      background-color color
      color dark-gray-color
      transition background-color 0.3s
      &{selector}
        border-color color
        background-color color
        color white
        & ~ li
          rounded-tabs-default()
          color dark-gray-color
          
previous-rounded-tabs-important(color, selector)
  &{selector}
    li
      border-color color !important
      background-color color !important
      transition background-color 0.3s
      &{selector}
        border-color color !important
        background-color color !important
        color white !important
        & ~ li
          border-color gray-color !important
          color dark-gray-color !important
          background-color transparent !important
          li
            border-color gray-color !important

tabs-slider-widget(color)
  previous-rounded-tabs(color, ':hover')
  previous-rounded-tabs(color, '.rounded-tabs-active')
  &:hover
    previous-rounded-tabs-important(color, ':hover')

.filters
  position relative
  width container-width
  label
    display inline-block
    margin-right 10px
    vertical-align top
    text-align left
    &:last-child
      margin-right 0
  h3
    font-size 11px
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 5px
    color darkest-gray-color
    campton()
  .rounded-tabs
    font-size 12px
    rounded-tabs-default()

.filters-bedroom-tabs
  tabs-slider-widget(blue-color)
.filters-bathroom-tabs
  tabs-slider-widget(blue-color)
  
.filters-location-button
  text-transform initial
  font-weight 300
  letter-spacing 0
  font-size 12px
  width 210px
  padding 8px 11px 7px 10px
  border 1px solid gray-color
  color darkest-gray-color
  background-color transparent
  text-align left
  &:hover, &:focus, &:active
    background-color transparent
    color darkest-gray-color
  .filters-location-arrow
    padding 4px 6px
    display inline-block
    position relative
    top 3px
    float right
    background no-repeat center center
  
.filters-location-neighborhoods
  display none
  line-height 2em
  color white
  top 70px
  left 0
  position absolute
  width 100%
  z-index 2
  text-align left
  &::before
    content '\25B2'
    position absolute
    top -18px
    right 204px
    color darkest-gray-color
    -webkit-transform scaleY(0.6)
    font-size 20px
  &.is-over .filters-location-neighborhoods-inner
    margin-left -980px
  li
    overflow ellipsis
  input[type=checkbox]
    margin-right 11px
  .filters-location-neighborhoods-inner
    width 2000px
    transition margin-left 0.5s ease-in-out-cubic
  .filters-location-neighborhoods-container
    border-radius default-border-radius
    background darkest-gray-color
    padding 2px 10px 50px 10px
    overflow hidden
  .filters-location-neighborhoods-inner > ul
    display inline-block
    vertical-align top
    width 196px
    padding 10px
    lh
      text-transform uppercase
      color gray-color
      letter-spacing 2px
      border-bottom 1px solid darker-gray-color
      margin-bottom 10px
      font-size 11px
      display block
      campton()
      font-weight 600
  [type=checkbox]
    margin 0    
  .filter-location-neighborhoods-group
    overflow-y scroll
    height 220px
    font-size 13px
    line-height 20px

.filters-count
  margin-top 5px
  font-size 11px
  display none
  .filters-count-count
    font-weight 600
    
.filters-max-rent
.filters-sort-select
  width 119px

.filters-next, .filters-prev
  position absolute
  font-size 10px
  background-color transparent
  border 1px solid dark-gray-color
  bottom 20px
  &:hover, &:focus, &:active
    background-color transparent

.filters-next
  right 20px
  padding 5px 34px 4px 20px
  &::before
    content "More listings"
  &::after
    content "\00bb"
    font-size 23px
    position absolute
    margin-top -7px
    margin-left 3px
    font-weight 100

.filters-prev
  left 20px
  padding 5px 20px 4px 34px
  display none
  &::after
    content "Previous listings"
  &::before
    content "\00ab"
    font-size 23px
    position absolute
    margin-top -7px
    margin-left -18px
    font-weight 100

.filters-location-neighborhoods.is-over 
  .filters-prev
    display block
  .filters-next
    display none

.filters-alerts-label
  display none !important

.filters-alerts
  background url('/images/alert-bell.svg') center center no-repeat
  background-size 40%
  border 1px solid gray-color
  padding 15px 26px 16px 26px
  &:hover, &:active
    background-color transparent

.filters-alerts-popover
  position absolute
  background #eee
  padding 20px
  right 0
  background green-color
  border-radius default-border-radius
  color white
  top 72px
  display none
  transform-origin 100% 100%
  &::after
    content '.'
    top -7px
    right 18px
    position absolute
    width 20px
    height 8px
    background-size contain
    background no-repeat
    color transparent

html.firefox
  .filters-location-button
    padding 6px 12px 7px
  .filters-location-arrow
    top 4px
  .rounded-tabs li
    padding 5px 13px
  .rounded-select
    background-image none !important
    padding 7px 8px 7px 8px