@import '../stylus-lib'

left-section-width = 200px
middle-section-width = 360px
map-width = 400px
map-height = 400px
li-bottom-margin = 80px
locked-top-margin = 120px + main-header-height
column-gap = 20px

.listings-container
  position relative
  width left-section-width + middle-section-width + map-width + (column-gap * 2)
  margin 0 auto
  &.listings-loading
    ul, .listings-map, .listings-map-no-geo-cover
      opacity 0
    .listings-no-results
      display none
    
.listings
  position relative
  left -column-gap
  
.listings-listing
  clearfix()
  aleo()
  margin-bottom li-bottom-margin
  position relative
  
  &.listings-li-locked
    .listings-section-left
      position fixed
      top locked-top-margin
  &.listings-li-bottom
    .listings-section-left
      bottom 5px
      top inherit
  &.listings-listing-end
    margin-bottom -5px

.listings-section-left
  position absolute
  top 0
  .rounded-button
    aleo()
    font-weight 300
    font-size default-font-size
    letter-spacing 0
    text-transform inherit
    padding-top 9px
    padding-bottom 11px
    strong
      campton()
      font-weight 600
      font-size default-font-size - 1
      text-transform uppercase
      letter-spacing 1px

.listings-section-middle
  width middle-section-width
  min-height 500px
  margin-left left-section-width + column-gap
  img
    width 100%
    display block
    margin-bottom 5px

.listings-section-left
  width left-section-width
  h1
    campton(100)
    font-size 48px
    margin 12px 0 25px 0
  h2
    font-size 13px
    margin 5px 0
  h3
    font-size 13px
    line-height 1.4em
    margin-top 15px
  h4, h5, h6
    font-size 13px
  h5
    margin-bottom 15px
  h6 a
    color darkest-gray-color
    text-decoration underline
  button
    display block
    padding 15px 0
    margin 5px 0
    width 100%

.listings-listing-src
  font-size 13px
  margin 5px 0

.listings-count-num
  width 40px
  height @width
  border-radius @width
  line-height @width
  text-align center
  border 2px solid #eee
  display inline-block
  font-size 17px
  margin-right 7px
  font-weight 600
  color blue-color

.listings-bed-count
.listings-bath-count
  color darkest-gray-color
  campton()
  text-transform uppercase
  letter-spacing 1px

.listings-map
.listings-map-no-geo-cover
  height map-height
  width map-width
  position absolute
  top 0
  margin-left left-section-width + middle-section-width + (column-gap * 2)  
  position fixed !important
  top locked-top-margin

.listings-map
  background #eee

.listings-map-no-geo-cover
  text-align center
  color #999
  line-height map-height
  background-color light-gray-color
  display none

.listings-no-pictures
  background #eee
  color gray-color
  height 500px
  width 100%
  line-height @height
  font-size 18px
  text-align center
  
.listings-no-results
  text-align center
  font-size 18px
  margin 100px 0

.listings-advertisement-container
  padding 300px 0
  z-index 3
  background white
  position relative
  z-index 1

.listings-advertisement
  text-align center
  border-top 1px solid #eee
  border-bottom @border-top
  padding 20px 0 14px 0

.listings-advertisement-header
  campton()
  text-align center
  font-size 10px
  letter-spacing 1px
  color gray-color
  text-transform uppercase

.listings-advertisement-placeholder
  width 728px
  background #f2f2f2
  height 90px
  display inline-block
  z-index -1
  position absolute
  left 50%
  margin-left -364px
  margin-top 21px

.listings-listed-ago-good
  color green-color
.listings-listed-ago-medium
  color darkest-gray-color
.listings-listed-ago-bad
  color red-color

.listings-spinner
  position relative
  padding 200px 0