@import '../../node_modules/nib'

default-font-size = 15px

// Colors
green-color = #3DB06F
dark-green-color = #24A05A
blue-color = #6FC6F3
transparent-dark-blue-color = rgba(9, 12, 14, 0.75)
pink-color = #e65a80
warn-orange-color = #A88A13
red-color = rgb(179, 84, 84)

// Shades of Gray
light-gray-color = #eee
gray-color = #ccc
dark-gray-color = #a2a2a2
darker-gray-color = #555
darkest-gray-color = #2f2f2f

// Easings
ease-in-out-cubic = cubic-bezier(0.645, 0.045, 0.355, 1.000)
ease-in-out-back = cubic-bezier(0.520, -0.600, 0.530, 1.650)

// Others
default-border-radius = 4px
main-header-height = 57px
container-width = 1000px

@keyframes spin
  0%
    transform rotate(0deg)
    animation-timing-function linear
  50%
    transform rotate(180deg)
    animation-timing-function linear
  100%
    transform rotate(360deg)
    animation-timing-function linear

spinner(size, width, color=white)
  width size
  height size
  border-radius size
  border width solid color
  border-left-color transparent
  position absolute
  left 50%
  top 50%
  margin-top ((-(size / 2)) - width)
  margin-left ((-(size / 2)) - width)
  animation spin 0.75s infinite

campton(weight=300)
  font-family campton, Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility
  font-weight weight

aleo()
  font-family aleo, Georgia, serif
  font-smoothing antialiased
  text-rendering optimizeLegibility

appearance()
  vendor('appearance', arguments)

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

mask-image()
  vendor('mask-image', arguments)

font-smoothing()
  vendor('font-smoothing', arguments)

filter()
  vendor('filter', arguments)

icon-container(size, color)
  svg
    width size
    height size
    display inline-block
    *
      fill color
      transition fill 0.3s