@import '../../node_modules/nib'

default-font-size = 15px
green-color = #3DB06F
dark-green-color = #344b4b
blue-color = #50B8D3
hover-green-color = #24A05A
pink-color = #e65a80
light-gray-border-color = #ddd
gray-text-color = #aaa
warn-orange-color = #A88A13
default-border-radius = 4px
main-header-height = 57px
main-header-bg-color = #eee
container-width = 1000px
red-color = rgb(179, 84, 84)

@keyframes spin
  0%
    transform rotate(0deg)
    animation-timing-function linear
  50%
    transform rotate(180deg)
    animation-timing-function linear
  100%
    transform rotate(360deg)
    animation-timing-function linear

spinner(size, bwidth)
  width size
  height size
  border-radius size
  border bwidth solid white
  border-left-color transparent
  position absolute
  left 50%
  top 50%
  margin-top ((-(size / 2)) - bwidth)
  margin-left ((-(size / 2)) - bwidth)
  animation spin 0.75s infinite


campton(weight=300)
  font-family campton, Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility
  font-weight weight

aleo()
  font-family aleo, Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility

appearance()
  vendor('appearance', arguments)

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

mask-image()
  vendor('mask-image', arguments)

font-smoothing()
  vendor('font-smoothing', arguments)

filter()
  vendor('filter', arguments)