@import '../../node_modules/nib'

light = 100
default-font-size = 15px
green-color = #3DB06F
blue-color = #6CC5E7
hover-green-color = #24A05A
red-color = #CC2B48
dark-gray-color = rgb(40, 40, 40)
light-gray-border-color = #ddd
gray-text-color = #aaa
warn-orange-color = #A88A13
default-border-radius = 4px
main-header-height = 57px
container-width = 1000px

museo()
  font-family museo-sans, Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility

appearance()
  vendor('appearance', arguments)

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

mask-image()
  vendor('mask-image', arguments)

font-smoothing()
  vendor('font-smoothing', arguments)

font-face(family, filename, style = normal, weight = normal)
  @font-face
    font-family family
    font-weight weight
    font-style style
    src url("/fonts/" + filename + ".woff") format("woff")