doctype 5
html( class=uaFamily )
  head
    title NoFeeDigs | Unsupported browser
    link( rel='icon', type='image/x-icon', href='/images/favicon.ico'  )
    :stylus
      body
        background-color #3DB06F
        text-align center
        font-family 'Helvetica', 'Arial', 'sans-serif'
        color white
        line-height 1.6em
      a
        color white
        text-decoration none
        border-bottom 1px solid
      h1
        font-size 26px
        margin 50px 0
      h2
        font-weight normal !important
        font-size 18px
      h3
        font-size 14px
        font-weight normal
  body
    h1 Unsupported Browser
    h2 Sorry, your browser is unsupported.
      br
      | Please download the latest version of 
      a( href='http://google.com/chrome' ) Chrome
      | , 
      a( href='http://apple.com/safari' ) Safari
      | , or 
      a( href='http://www.mozilla.org/firefox' ) Firefox 
      | to use NoFeeDigs.
      br
      br
      | If you're on a phone, we're working on mobile support, please visit nofeedigs.com on your computer.
    h3
      | If you have any questions please feel free to email 
      a( href='mailto:nofeedigs@gmail.com' ) nofeedigs@gmail.com