#alerts-modal.modal.modal-flip-container
  
  #alerts-modal-input.modal-front-flip
    button.modal-close
    h1 Recieve emails of new
      if params.get('bed-min') == '0'
        |  studio (or bedroom)
      else
        |  #{params.get('bed-min')} bedroom (or bigger)
      |  apartments with #{params.get('bath-min')}
      |  (or more)
      if params.get('bath-min') == 1
        |  bathroom(s)
      else
        |  bathrooms
      if params.get('neighborhoods').length
        |  in&nbsp;
        - locStrings = params.get('neighborhoods').slice(0, 3) 
        if params.get('neighborhoods').length > 3
          - locStrings.push('elsewhere') 
        = _.toSentence(locStrings)
      if params.get('rent-max')
        |  for under $#{params.get('rent-max')}
      | .
    form
      label
        | What should we call these alerts?
        input.box-input(
          value=(parseInt(params.get('bed-min')) > 0 ? params.get('bed-min') + ' bedroom' : 'Studio') + ' apartments'
        )
        button.rounded-button( type='submit' ) Submit
  
  #alerts-modal-thank-you.modal-back-flip-green
    button.modal-close
    header
      h1 Great!
      h2 Look out for daily emails of new listings.
      button.rounded-button.modal-okay Okay
 