#alerts-modal-input h1
  font-size 21px
  font-weight normal
  line-height 1.4em
  margin 20px 0
  text-align left

#alerts-modal label
  text-align left

#alerts-modal label
  text-align left
  display block
  width 100%
  margin-top 30px
  input
    margin-top 10px

#alerts-modal-bg[data-state='thanks']
  #alerts-modal-thank-you
    transform rotateY(0deg)
    z-index 1
  #alerts-modal-input
    transform rotateY(180deg)
    display block