@import '../stylus-lib'

gutter-width = 20px
ad-width = 336px
small-header-font-size = 20px
large-header-font-size = 48px

#listing-page-header
  campton()
  font-weight 100
  clearfix()
  margin 40px 0 gutter-width 0
  border-bottom 1px solid gray-color
  h1
    float left
    font-size large-header-font-size
    margin-top 5px
    line-height 30px
    #listing-page-rent, > small
      margin-right 15px
    small
      font-size small-header-font-size
      font-weight 300
      text-transform uppercase
      letter-spacing 1px
      margin-left 8px
    br + small
      margin-left 0

#listing-page-header-right
  float right
  width ad-width
  h3
    font-weight bold
    font-size default-font-size - 1
    text-transform uppercase
    letter-spacing 1px
    color green-color
    margin-top 16px
    float left
  #listing-page-twitter, #listing-page-facebook
    border 2px solid green-color
    width 45px
    height @width
    display inline-block
    border-radius @width
    float right
    text-align center
    line-height 52px
    icon-container(45%, green-color)
    margin-left 8px
    transition transform 0.2s ease-in-out-back, background 0.2s
    &:hover
      transform scale(1.1)
      background green-color
      svg *
        fill white
  #listing-page-social
    clearfix()
    position relative
    padding 10px 0

#listing-page-location
  margin-left 0

#listing-page-listed-ago
  aleo()
  font-size small-header-font-size
  font-weight 300
  font-style italic

#listing-page-pictures-container
  overflow hidden
  padding-right gutter-width

#listing-page-pictures
  column-count 2
  column-gap gutter-width
  img
    width 100%
    display block
  li
    margin-bottom gutter-width

#listing-page-pictures-thumbnails
  img
    height 100px
    width @height

#listing-page-left
  float left
  width calc(100% \- ad-width)
  margin-bottom 40px

#listing-page-right
  float right
  width ad-width

#listing-page-map
  margin-bottom 10px
  height ad-width

#listing-page-map-details
  clearfix()
  h3
    float left
    width 50%
  .rounded-button
    width 50%

#listing-page-ad
  campton()
  font-size 10px
  text-transform uppercase
  letter-spacing 1px
  margin gutter-width 0
  padding-top 10px
  text-align center
  border-top 1px solid gray-color
  clear both
  color dark-gray-color
  h5
    margin-bottom 8px

#listing-page-similar
  campton()
  clear both
  border-top 1px solid gray-color
  font-size 36px
  padding-bottom 160px
  h2
    padding 40px 0 30px 0
    font-weight 100
    a
      float right
      font-size default-font-size - 1
      font-weight bold
      text-transform uppercase
      letter-spacing 1px
      text-decoration none
      &:hover
        border-bottom 2px solid
  ul
    margin-bottom gutter-width
  ul li
    width 25%
    display inline-block
    vertical-align top
    padding-right gutter-width
    line-height 20px
    &:nth-child(4n)
      padding-right 0
    img
      width 100%
      margin-bottom 10px
    h3
      font-size 24px
      margin-bottom 3px
    h4
      font-size default-font-size - 1
    h5
      font-size default-font-size
    a
      color darkest-gray-color
      text-decoration none

.listing-page-img-container
  height 200px
  overflow hidden
  margin-bottom 15px 
  background-size cover