@import '../stylus-lib'

.settings-page-remove-alert
  float right
  campton()
  font-weight 600
  text-transform uppercase
  letter-spacing 1px
  font-size 11px
  color darker-gray-color
  margin-top 3px
  transition color 0.3s
  &:hover
    color red-color
    text-decoration none