extends ../layout/templates/index

block content
  form#settings-page-basic.rounded-form
    h1 Basic Settings
    label
      | Name
      input.box-input( name='name' value=user.get('name') )
    label
      | Email
      input.box-input( name='email' value=user.get('email') )
    label
      | New Password
      input.box-input( name='new-password', type='password' )
    label
      | Repeat New Password
      input.box-input( name='repeat-new-password', type='password' )
    .rounded-form-error
    button.rounded-button Submit
  form.rounded-form
    h1 Alerts
    if user.get('alerts') && user.get('alerts').length
      ul
        for alert in user.get('alerts')
          li
            = alert.name
            a.settings-page-remove-alert Remove
    else
      em You have no alerts.&nbsp;
        | Click on the alert button in to top right of your filters to receive email updates of new apartments within your search.