@import '../stylus-lib'

.modal
  background white
  padding 30px
  display inline-block
  width 500px
  margin-top 2%
  position relative
  border-radius default-border-radius
  h2
    campton()
    font-size 18px
    font-weight 100
    margin-bottom 15px
  input, textarea
    display block
    margin-bottom 10px
    width 100%
  .rounded-button
    width 100%

.modal-container
  background transparent-dark-blue-color
  width 100%
  height 100%
  position fixed
  z-index 3
  top 0
  text-align center
  display none

.modal-close
  background no-repeat center center
  background-size contain
  border 0
  width 20px
  height @width
  position absolute
  top 13px
  right @top
  display inline-block
  cursor pointer
  opacity 0.5
  transition opacity 0.3s
  &:focus, &:hover
    outline none
    opacity 1

.modal-flip-container
  padding 0
  background transparent
  perspective 2000

.modal-back-flip-green
  position absolute
  top 0
  left 0
  background red
  width 100%
  height 100%
  background green-color
  color white
  border-radius default-border-radius
  header
    position absolute
    top 50%
    margin-top -80px
    text-align center
    width 100%
    h1
      font-size 32px
      font-weight 300
      margin-bottom 30px
      text-align center
    h2
      font-weight 300
    h3
      font-size 18px
    .rounded-button
      display inline-block
      background dark-green-color
      width auto
      margin-top 20px

.modal-front-flip
  background white
  padding 30px
  border-radius default-border-radius

// State of modal and animation properties between them
.modal-front-flip
  transform rotateY(0deg)
.modal-back-flip-green
  z-index -1
  transform rotateY(-180deg)
.modal-front-flip, .modal-back-flip-green
  transform-style preserve-3d
  transition 0.5s
  backface-visibility hidden