@import '../stylus-lib'

.modal
  background white
  padding 30px
  display inline-block
  width 500px
  margin-top 5%
  position relative
  border-radius default-border-radius
  h2
    font-size 18px
    font-weight bold
    margin-bottom 15px
  input, textarea
    display block
    margin-bottom 10px
    width 100%
  .rounded-button
    width 100%

.modal-container
  background rgba(0,0,0,0.65)
  width 100%
  height 100%
  position fixed
  z-index 3
  top 0
  text-align center
  display none

.modal-close
  background no-repeat center center
  background-size contain
  border 0
  width 20px
  height @width
  position absolute
  top 13px
  right @top
  display inline-block
  cursor pointer
  opacity 0.5
  transition opacity 0.3s
  &:focus, &:hover
    outline none
    opacity 1