.modal-container
  #signup-modal.modal
    button.modal-close
    #signup-modal-logo
    h2 Save thousands on broker’s fees.
    h3 Sign up to recieve emails when new listings within your search criteria arrive.
    form
      #signup-modal-left
        h4 Sign up via social
        button.rounded-button Facebook
        button.rounded-button Google
        button.rounded-button Twitter
      #signup-modal-right
        h4 Sign up via email
        input.box-input( placeholder='Email', type='email' )
        input.box-input( placeholder='Password', type='password' )
        button.rounded-button( type='submit' ) Sign up
    small Already have an account?&nbsp;
      a Log in