#signup-modal
  width 800px
  h2
    font-size 32px
    font-weight normal
  h4
    font-size 11px
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 5px
    color #777

#signup-modal form
    clearfix()
    margin 30px 0

#signup-modal small
  font-size 13px

#signup-modal-logo
  width 80px
  height @width
  background center center no-repeat
  background-size contain
  margin auto
  position relative
  top -15px

#signup-modal-left
  float left
  border-right 1px solid light-gray-border-color
  padding-right 30px
  button
    margin-bottom 6px
    &:last-child
      margin-bottom 0

#signup-modal-right
  float right
  padding-left 30px

#signup-modal-left, #signup-modal-right
  width 50%
  padding-bottom 25px