extends ../layout/templates/index

block content
  #about-page-small-header(
    style="background-image: url('#{sd.HERO_UNITS[4].path}')"
  )
    a#about-page-small-header-caption( href=sd.HERO_UNITS[4].url, target='_blank' )
      | Photo by William Warby on Flickr
  .about-page-copy
    include:md about.md
  #about-page-faq.about-page-copy
    include:md faq.md