@import '../stylus-lib'
@import '../../node_modules/nib'

.typekit-badge
  display none !important

#main-header
  width 100%
  top 0
  left 0
  z-index 3
  height 57px
  background #f2f2f2
  color #555
  nav
    display inline-block
    vertical-align top
    float left
    border-left 1px solid #ddd
    a
      color #555
      display inline-block
      text-decoration none
      padding 18px
      transition background-color 0.3s
      border-right 1px solid hover-green-color
      campton()
      font-weight 100
      border-right 1px solid #ddd
      &:first-child
        padding-left 18px
      &:hover, &:active, &.main-header-active
        background-color #ddd

#main-header-logo
  background no-repeat
  background-size 120px
  display inline-block
  margin 14px 25px 0 10px
  padding 5px 0 5px 40px
  color white
  font-weight 600
  text-decoration none
  float left
  width 146px
  color green-color
  small
    font-weight 300
    text-transform uppercase
    position relative
    font-size 10px
    top -10px
    left 85px
    campton()

#main-header-social-media
  float right
  margin-left 20px
  a
    background no-repeat center center
    height 22px
    width @height
    float right
    background-size contain
    margin 16px 20px 0 0

#main-header-right
  float right !important

// Light header
#main-header.home-page-filters-fixed
  position fixed

// Dark header
#main-header.main-header-home
  background transparent
  position fixed
  a
    color #ccc
  nav
    border-left none
    a
      border-right none
      &:hover
        color green-color
        background transparent