// Logo mark
#main-header-logo
  background-image url('/images/logo-mark-w.svg')
#main-header.home-page-filters-fixed #main-header-logo
  background-image url("/images/logo-mark-g.svg")

// Up triangle
.filters-alerts-popover::after
  background-image url("/images/up-triangle-g.svg")

// Full logo
#signup-modal-logo
  background-image url('/images/full-logo-g.svg') !important
  
// Down carrot
.filters-location-arrow
  background-image url('/images/down-carrot.svg') !important

// Down dash
.filters-location-arrow.filters-location-arrow-expanded
  background-image url('/images/down-dash.svg') !important
  
// Select arrows
.rounded-select
  background-image url('/images/select-arrows.svg') !important

// Filters dropdown lip
.filters-location-neighborhoods::after
  background-image url('/images/up-arrow.svg') !important
  
// Social Media
.main-header-social-media-facebook
  background-image url('/images/facebook-w.svg') !important
.main-header-social-media-twitter
  background-image url('/images/twitter-w.svg') !important
#main-header.home-page-filters-fixed .main-header-social-media-facebook
  background-image url('/images/facebook.svg') !important
#main-header.home-page-filters-fixed .main-header-social-media-twitter
  background-image url('/images/twitter.svg') !important

// Close modal
.modal-close
  background-image url('/images/modal-close.svg') !important