@import '../../stylus-lib'

.rounded-tabs
  font-size 13px
  campton()
  li
    display inline-block
    border-right 1px solid dark-green-color
    padding 5px 13px 4px 13px
    cursor pointer
    border-top 1px solid dark-green-color
    border-bottom @border-top
    &:first-child
      border-top-left-radius default-border-radius
      border-bottom-left-radius default-border-radius
      border-left @border-top
    &:last-child
      border-right 0
      margin-right 0
      border-top-right-radius default-border-radius
      border-bottom-right-radius default-border-radius
      border-right @border-top
      
.rounded-button
  background green-color
  padding 12px 18px 9px 18px
  campton()
  font-weight 600
  font-size default-font-size
  border 0
  border-radius  default-border-radius
  color white
  margin 0
  transition background-color 0.3s, color 0.3s
  cursor pointer
  display block
  text-decoration none
  text-align center
  position relative
  text-transform uppercase
  letter-spacing 1px
  font-size default-font-size - 1
  &:hover, &:active, &:focus
    background-color hover-green-color
    outline none
    color white
    text-decoration none
  &.is-loading
    color transparent
    &::before
      content '.'
      color transparent
      spinner(20px, 3px)

.rounded-button-error
  background-color red-color
    
.rounded-select
  campton()
  border 1px solid dark-green-color
  border-radius default-border-radius
  font-size 12px
  appearance none
  padding 8px 30px 7px 8px
  margin 0
  border-color light-gray-border-color
  background transparent no-repeat right center
  background-size 20px
  cursor pointer
  color dark-green-color
  &:hover, &:active, &:focus
    outline none
    
.box-input
  border 1px solid light-gray-border-color
  padding 7px
  aleo()
  margin 0
  font-size default-font-size
  transition border-color 0.3s
  color dark-green-color
  &:active, &:focus
    outline none
    border-color green-color

.rounded-form
  padding 30px
  border-radius default-border-radius
  border 1px solid light-gray-border-color
  width 400px
  margin 20px auto
  h1
    campton()
    font-weight 100
    font-size 18px
    margin-bottom 10px
  label
    campton()
    text-transform uppercase
    font-size default-font-size - 3
    font-weight 600
    letter-spacing 1px
    margin-top 20px
    display block
    input
      display block
      width 100%
      margin-top 5px
  li
    margin-bottom 10px
  button
    margin-top 20px
    width 100%

.rounded-form-error
  margin 10px 0
  color red-color