@import './form-elements'
@import '../../stylus-lib'
@import './embedded'

global-reset()

body
  color dark-green-color
  font-size default-font-size
  aleo()
  line-height 1.4em
*
  box-sizing border-box
a
  color green-color
  transition background-color 0.3s
  cursor pointer
  &:hover
    color hover-green-color
    text-decoration underline

strong
  font-weight bold
em
  font-style italic

.loading-spinner
  width 40px
  height @width
  border-radius @width
  border 3px solid green-color
  .loading-spinner-dot
    width 10px
    height 42px
    border-top 5px solid white
    margin -3px auto 0 auto
    animation spin 0.5s infinite
    content '.'
    color transparent