@import './form-elements'
@import '../../stylus-lib'
@import './embedded'

global-reset()

body
  color darkest-gray-color
  font-size default-font-size
  aleo()
  line-height 1.4em
*
  box-sizing border-box
a
  color green-color
  transition background-color 0.3s
  cursor pointer
  &:hover
    color dark-green-color
    text-decoration underline

strong
  font-weight 600
em
  font-style italic

.page-container
  min-width 900px
  max-width 1400px
  padding 0 45px
  margin auto

.loading-spinner
  spinner(40px, 4px, green-color)