@import '../../stylus-lib'

nav-border-color = #ddd
header-color = #666

.typekit-badge
  display none !important

#main-header
  width 100%
  top 0
  left 0
  position fixed
  z-index 3
  height 57px
  nav
    display inline-block
    vertical-align top
    float left
    a
      display inline-block
      text-decoration none
      padding 18px
      transition background-color 0.3s
      border-right 1px solid nav-border-color
      &:first-child
        padding-left 18px
      &:hover, &:active
        background-color nav-border-color

// Light header
#main-header.home-page-filters-fixed
  background-color main-header-bg-color
  #main-header-logo
    color green-color
  color header-color
  a
    color header-color
  nav
    border-left 1px solid nav-border-color
    a
      border-right 1px solid nav-border-color
      &:hover, &:active
        background-color nav-border-color

// Dark header
#main-header
  background-color #222
  a
    color #ccc
  nav
    border-left 1px solid black
    a
      border-right 1px solid black
      &:hover
        background-color black

#main-header-logo
  background no-repeat
  background-size 25%
  display inline-block
  margin 13px 25px 0 10px
  padding 5px 0 5px 40px
  color header-color
  font-weight bold
  text-decoration none
  float left
  small
    font-weight normal
    text-transform uppercase
    position relative
    font-size 10px
    top -4px
    left 7px

#main-header-social-media
  float right
  a
    background no-repeat center center
    height 22px
    width @height
    float right
    background-size contain
    margin 16px 20px 0 0